[Unit]
Description=AGL Navigation Service
After=homescreen.service
Wants=homescreen.service

[Service]
Type=simple
User=agl-driver
Environment=QT_QPA_PLATFORM=wayland
Environment=LANG=C.UTF-8
Environment=XDG_RUNTIME_DIR=/run/user/1001
Environment=WAYLAND_DISPLAY=wayland-0
ExecStart=/usr/bin/navigation
Restart=on-failure

[Install]
WantedBy=multi-user.target